<head>
    <link rel="stylesheet" href="~/css/Layout/layoutPartial.css">
    <link rel="stylesheet" href="~/css/Layout/nav-button.css">
</head>


<header id="slider" data-slide="closed">


    <ul class="large-nav large-nav-styles">

        <li>
            <a asp-page="/Index">Home</a>
        </li>
        <li>
            <a asp-page="/MockDbExample">MockDB</a>
        </li>
        <li>
            <a asp-page="/Blogs/Index">Blogs</a>
        </li>

    </ul>

    <div class="nav-menu nav-menu-styles">
        <ul>

            <li>
                <a class="dylan-anchor" asp-page="/Index">Dylan</a>
            </li>


            <li onclick="ActivateSlide()" id="burger">

                <div id="icon" class="Icon open">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

            </li>


            <span id="copy">
                &copy
            </span>


        </ul>
    </div>


</header>


<script type="text/javascript">

    const Slider = document.getElementById("slider");


    function ActivateSlide(){
      const State = Slider.getAttribute("data-slide");



      State === "closed" ? Slider.setAttribute("data-slide","open"):
      Slider.setAttribute("data-slide","closed");

      console.log(State)

    }

    const icon = document.getElementById("icon");

    icon.onclick = function() {
      if (this.className === "Icon open") {
        this.className = "Icon";
      } else {
        this.className = "Icon open";
      }
    };




</script>