<head>
    <link rel="stylesheet" href="~/css/Layout/layoutPartial2.css">
</head>


<header id="slider" data-slide="open">


    <ul class="large-nav large-nav-styles">

        <li>one</li>
        <li>two</li>
        <li>three</li>

    </ul>


    <div class="nav-menu nav-menu-styles">
        <ul>
            <li onclick="ActivateSlide()" id="burger">
                Dylan
            </li>
        </ul>
    </div>


</header>

<script type="text/javascript">

    const Burger = document.getElementById("burger");
    const Slider = document.getElementById("slider");

    function ActivateSlide(){
      const State = Slider.getAttribute("data-slide");

      State === "closed" ? Slider.setAttribute("data-slide","open"):
      Slider.setAttribute("data-slide","closed");

      console.log(State)

    }

</script>