@page
@model uTestAndForms.Pages.Blogs.Addusers.Index

@{
    Layout = Layout;
}

<div class="container">
    <form asp-page-handler="AddUsers" class="row w-25 m-auto text-white">

        <label asp-for="NewUsers.Name">Name:</label>

        <input asp-for="NewUsers.Name" type="text">

        <label asp-for="NewUsers.City">City:</label>

        <input asp-for="NewUsers.City" type="text">

        <label asp-for="NewUsers.State">State:</label>

        <input asp-for="NewUsers.State" type="text">

        <input class="mt-3" type="submit">

    </form>
</div>

<style>
    label{
    font-weight: bolder;
    }
    input{
    border: 1px solid;
    border-radius: 2px;
    }
</style>