*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: black;
}

body {
  background: black;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  display: flex;
  height: 100%;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  body {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem, white 0 0 0 0.25rem, #258cfb;
}

html {
  position: relative;
  height: 100%;
}

.section-wrapper {
  width: 80%;
  margin-inline: auto;
}
@media (min-width: 992px) {
  .section-wrapper {
    translate: 50px;
  }
}

.modal-backdrop {
  width: auto;
}

.table-wrapper > h1 {
  color: white;
  text-align: center;
  display: grid;
  justify-content: center;
  font-size: 1.25em;
  font-family: "Rubik", sans-serif;
}

.table-wrapper {
  margin-top: 5rem;
  padding-bottom: 5rem;
  color: white;
  width: 100%;
}

.header-grid {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-evenly;
  grid-gap: 2rem;
}
.header-grid h1 {
  margin: 0;
  white-space: nowrap;
}
.header-grid button {
  border: none;
  background-color: #B800E7;
  border-radius: 1rem;
  color: white;
  font-weight: 400;
  padding: 0.12rem 1rem;
  font-size: 14px;
}
@media screen and (min-width: 992px) {
  .header-grid button {
    font-size: 1.25em;
  }
}
.header-grid .add-btn {
  display: none;
}
@media screen and (min-width: 992px) {
  .header-grid .add-btn {
    display: block;
  }
}
.header-grid .search-btn {
  display: none;
}
@media screen and (min-width: 992px) {
  .header-grid .search-btn {
    display: block;
  }
}
.header-grid .dlt-btn {
  display: none;
}
@media screen and (min-width: 992px) {
  .header-grid .dlt-btn {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .header-grid {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}

.btn-flex {
  gap: 2rem;
  display: flex;
}

.list-one {
  margin-top: 3rem;
  padding: 0;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto Mono", monospace;
}
.list-one li svg {
  cursor: pointer;
}
.list-one button {
  background-color: #B800E7;
  border: none;
  border-radius: 10px;
  color: white;
}
@media screen and (min-width: 992px) {
  .list-one {
    display: none;
  }
}

.delete {
  font-weight: 700;
  font-size: 18px;
}

table {
  margin-top: 2rem;
  border-collapse: collapse;
  font-family: "Roboto Mono", monospace;
}
@media screen and (min-width: 576px) {
  table {
    font-family: "Roboto Mono", monospace;
  }
}

tbody:first-of-type {
  display: none;
}

tbody {
  display: grid;
  margin-bottom: 0.5rem;
}
tbody tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 0.5rem;
  background-color: #3C004A;
}
tbody tr:first-of-type {
  border-radius: 10px 10px 0 0;
}
tbody tr:last-of-type {
  border-radius: 0 0 10px 10px;
}

tbody > tr:nth-child(2n) {
  background-color: #1D1C1E;
}

[data-modal-body=false] {
  display: none;
}

[data-modal-body=true] {
  display: flex;
}

#search-modal {
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  inset: 0 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
#search-modal .form-flex {
  position: relative;
  z-index: 9999;
  display: grid;
  align-items: center;
  grid-gap: 0.5rem;
}
#search-modal .search-input {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
}
#search-modal .search-submit {
  border: none;
  background-color: #B800E7;
  height: 3rem;
  color: white;
  font-weight: 600;
  font-size: 22px;
  border-radius: 1rem;
}

#delete-modal {
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  inset: 0 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
#delete-modal .delete-flex {
  position: relative;
  z-index: 9999;
  display: grid;
  align-items: center;
  grid-gap: 0.5rem;
}
#delete-modal .delete-input {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
}
#delete-modal .delete-submit {
  border: none;
  background-color: #B800E7;
  height: 3rem;
  color: white;
  font-weight: 600;
  font-size: 22px;
  border-radius: 1rem;
}

#add-modal {
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  inset: 0 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
#add-modal .add-flex {
  position: relative;
  z-index: 9999;
  display: grid;
  align-items: center;
  grid-gap: 0.5rem;
}
#add-modal input {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
}
#add-modal .user-submit {
  border: none;
  background-color: #B800E7;
  height: 3rem;
  color: white;
  font-weight: 600;
  font-size: 22px;
  border-radius: 1rem;
}

/*# sourceMappingURL=SqlStyles.css.map */
