*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: black;
}

body {
  background: black;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  display: flex;
  height: 100%;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  body {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem, white 0 0 0 0.25rem, #258cfb;
}

html {
  position: relative;
  height: 100%;
}

.section-wrapper {
  width: 80%;
  margin-inline: auto;
}
@media (min-width: 992px) {
  .section-wrapper {
    translate: 50px;
  }
}

.modal-backdrop {
  width: auto;
}

p {
  font-size: 1.25em;
}

.index-section-styles {
  color: white;
  text-align: left;
}
.index-section-styles h1 {
  font-size: 6ch;
  font-weight: 700;
}
@media screen and (min-width: 576px) {
  .index-section-styles h1 {
    font-size: 8ch;
  }
}
@media screen and (min-width: 768px) {
  .index-section-styles h1 {
    font-size: 12ch;
    white-space: nowrap;
  }
}

.index-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .index-section {
    text-align: left;
    justify-content: start;
  }
}

.letter-i {
  position: relative;
  z-index: 10;
}
.letter-i *, .letter-i *::before, .letter-i *::after {
  box-sizing: border-box;
}
.letter-i html {
  font-size: 16px;
  background-color: black;
}
.letter-i body {
  background: black;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  display: flex;
  height: 100%;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .letter-i body {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .letter-i html {
    font-size: 16px;
  }
}
.letter-i .btn:focus,
.letter-i .btn:active:focus,
.letter-i .btn-link.nav-link:focus,
.letter-i .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem, white 0 0 0 0.25rem, #258cfb;
}
.letter-i html {
  position: relative;
  height: 100%;
}
.letter-i .section-wrapper {
  width: 80%;
  margin-inline: auto;
}
@media (min-width: 992px) {
  .letter-i .section-wrapper {
    translate: 50px;
  }
}
.letter-i .modal-backdrop {
  width: auto;
}
.letter-i::after {
  content: " ";
  width: 1rem;
  height: 1rem;
  background-color: #B800E7;
  position: absolute;
  border-radius: 100%;
  inset: 10% 2%;
}
@media screen and (min-width: 576px) {
  .letter-i::after {
    width: 1.2rem;
    height: 1.2rem;
    inset: 10% 8%;
  }
}
@media screen and (min-width: 768px) {
  .letter-i::after {
    width: 2rem;
    height: 2rem;
    inset: 9% 3%;
  }
}

.ok {
  color: #B800E7;
  font-weight: 700;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main {
  height: 100%;
}

.index-container {
  height: 100%;
}

.content-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: start;
}

.work-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .work-section {
    text-align: left;
    align-items: start;
  }
}

.work-section h2:after {
  content: "";
  width: 100vw;
  height: 16px;
  background-color: #B800E7;
  position: absolute;
  z-index: -10;
  inset: 10.5% -10vw;
}
@media screen and (min-width: 350px) {
  .work-section h2:after {
    inset: 12% -10vw;
  }
}
@media screen and (min-width: 460px) {
  .work-section h2:after {
    inset: 14% -10vw;
  }
}
@media screen and (min-width: 576px) {
  .work-section h2:after {
    inset: 17.9% -10vw;
  }
}
@media screen and (min-width: 600px) {
  .work-section h2:after {
    inset: 19.9% -10vw;
  }
}
@media screen and (min-width: 768px) {
  .work-section h2:after {
    inset: 28.7% -10vw;
  }
}
@media screen and (min-width: 992px) {
  .work-section h2:after {
    inset: 31.4% -10vw;
    width: 95%;
  }
}
@media screen and (min-width: 1340px) {
  .work-section h2:after {
    inset: 33.4% -10vw;
  }
}

.work-section-styles h2 {
  text-transform: uppercase;
  z-index: 9999;
  color: white;
  font-size: 6ch;
  font-weight: 700;
}
@media screen and (min-width: 576px) {
  .work-section-styles h2 {
    font-size: 8ch;
  }
}
@media screen and (min-width: 768px) {
  .work-section-styles h2 {
    font-size: 12ch;
  }
}
.work-section-styles p {
  color: white;
}
.work-section-styles a {
  color: #B800E7;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration-color: #B800E7;
  cursor: pointer;
}

.auto-banner {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100vw;
  translate: -10%;
}
.auto-banner ul {
  display: flex;
  align-items: center;
  animation: banner 15s linear infinite;
  justify-content: center;
  margin: 0;
  height: 53px;
  gap: 4rem;
  white-space: nowrap;
}

.auto-banner-styles {
  color: white;
  background-color: #242424;
  font-size: 1.5em;
  padding: 1rem;
}
.auto-banner-styles ul {
  list-style: none;
}

@keyframes banner {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.about-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .about-section {
    text-align: left;
    align-items: start;
  }
}

.about-section-styles h3 {
  text-transform: uppercase;
  z-index: 9999;
  color: white;
  font-size: 6ch;
  font-weight: 700;
}
@media screen and (min-width: 576px) {
  .about-section-styles h3 {
    font-size: 8ch;
  }
}
@media screen and (min-width: 768px) {
  .about-section-styles h3 {
    font-size: 12ch;
  }
}
.about-section-styles p {
  color: white;
}
.about-section-styles a {
  color: #B800E7;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration-color: #B800E7;
  cursor: pointer;
}

/*# sourceMappingURL=Index.css.map */
