@import "../site";

p {
  font-size: $font-small;
}

.index-section-styles {
  color: white;
  text-align: left;

  h1 {
    font-size: $hero-small;
    font-weight: 700;

    @media screen and (min-width: $small_screen) {
      font-size: $hero-medium;
    }
    @media screen and (min-width: $medium_screen) {
      font-size: $hero-large;
      white-space: nowrap;
    }
  }
}

.index-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  @media screen and (min-width: $large_screen) {
    text-align: left;
    justify-content: start;
  }

}

.letter-i {
  @import "../site";
  position: relative;
  z-index: 10;

  &::after {
    content: " ";
    width: 1rem;
    height: 1rem;
    background-color: $primaryColor;
    position: absolute;
    border-radius: 100%;
    inset: 10% 2%;
    @media screen and (min-width: $small_screen) {
      width: 1.2rem;
      height: 1.2rem;
      inset: 10% 8%;
    }
    @media screen and (min-width: $medium_screen) {
      width: 2rem;
      height: 2rem;
      inset: 9% 3%;
    }

  }
}

.ok {
  color: $primaryColor;
  font-weight: 700;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: $letter-spacing;
}

main {
  height: 100%;
}

.index-container {
  height: 100%;
}

.content-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 5rem;
  margin-top: $section-spacing;
  margin-bottom: $section-spacing;
  justify-content: start;
}

.work-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $letter-spacing;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  @media screen and (min-width: $large_screen) {
    text-align: left;
    align-items: start;
  }
}

.work-section {
  h2:after {
    content: "";
    width: 100vw;
    height: 16px;
    background-color: $primaryColor;
    position: absolute;
    z-index: -10;
    inset: 10.5% -10vw;

    @media screen and (min-width: 350px) {
      inset: 12% -10vw;
    }
    @media screen and (min-width: 460px) {
      inset: 14% -10vw;
    }
    @media screen and (min-width: $small_screen) {
      inset: 17.9% -10vw;

    }
    @media screen and (min-width: 600px) {
      inset: 19.9% -10vw;
    }
    @media screen and (min-width: $medium_screen) {
      inset: 28.7% -10vw;
    }
    @media screen and (min-width: $large_screen) {
      inset: 31.4% -10vw;
      width: 95%;

    }
    @media screen and (min-width: 1340px) {
      inset: 33.4% -10vw;
    }
  }
}

.work-section-styles {


  h2 {
    text-transform: uppercase;
    z-index: 9999;
    color: white;
    font-size: $hero-small;
    font-weight: 700;
    @media screen and (min-width: $small_screen) {
      font-size: $hero-medium;
    }
    @media screen and (min-width: $medium_screen) {
      font-size: $hero-large;
    }
  }

  p {
    color: white;
  }

  a {
    color: $primaryColor;
    font-size: $font-medium;
    font-weight: 500;
    text-decoration-color: $primaryColor;
    cursor: pointer;
  }
}


.auto-banner {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100vw;
  translate: -10%;


  ul {
    display: flex;
    align-items: center;
    animation: banner 15s linear infinite;
    justify-content: center;
    margin: 0;
    height: 53px;
    gap: 4rem;
    white-space: nowrap;
  }
}


.auto-banner-styles {
  color: white;
  background-color: $secondaryColor;
  font-size: $font-medium;
  padding: 1rem;

  ul {
    list-style: none;
  }
}

@keyframes banner {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.about-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $letter-spacing;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  @media screen and (min-width: $large_screen) {
    text-align: left;
    align-items: start;
  }
}

.about-section-styles {


  h3 {
    text-transform: uppercase;
    z-index: 9999;
    color: white;
    font-size: $hero-small;
    font-weight: 700;
    @media screen and (min-width: $small_screen) {
      font-size: $hero-medium;
    }
    @media screen and (min-width: $medium_screen) {
      font-size: $hero-large;
    }
  }

  p {
    color: white;
  }

  a {
    color: $primaryColor;
    font-size: $font-medium;
    font-weight: 500;
    text-decoration-color: $primaryColor;
    cursor: pointer;
  }
}

