@import "../site";

p {
  font-size: $font-small;
}

.index-section-styles {
  color: white;
  text-align: left;

  h1 {
    font-size: $hero-small;
    font-weight: 700;

    @media screen and (min-width: $small_screen) {
      font-size: $hero-medium;
    }
    @media screen and (min-width: $medium_screen) {
      font-size: $hero-large;
      white-space: nowrap;
    }
  }
}

.index-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: $section-spacing;
  @media screen and (min-width: $large_screen) {
    text-align: left;
    justify-content: start;
  }

}

.letter-i {
  @import "../site";
  position: relative;
  z-index: 10;

  &::after {
    content: " ";
    width: 1rem;
    height: 1rem;
    background-color: $primaryColor;
    position: absolute;
    border-radius: 100%;
    inset: 10% 2%;
    @media screen and (min-width: $small_screen) {
      width: 1.2rem;
      height: 1.2rem;
      inset: 10% 8%;
    }
    @media screen and (min-width: $medium_screen) {
      width: 2rem;
      height: 2rem;
      inset: 9% 3%;
    }

  }
}

.ok {
  color: $primaryColor;
  font-weight: 700;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: $letter-spacing;
}

main {
  height: 100%;
}

.index-container {
  height: 100%;
}

.content-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 77px;
  justify-content: start;
}

.work-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $letter-spacing;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  @media screen and (min-width: $large_screen) {
    text-align: left;
    align-items: start;
  }
}

.work-section-styles {


  h2 {
    text-transform: uppercase;
    z-index: 9999;
    color: white;
    font-size: $hero-small;
    font-weight: 700;
    @media screen and (min-width: $small_screen) {
      font-size: $hero-medium;
    }
    @media screen and (min-width: $medium_screen) {
      font-size: $hero-large;
    }
  }

  p {
    color: white;
  }

  a {
    color: $primaryColor;
    font-size: $font-medium;
    font-weight: 500;
    text-decoration-color: $primaryColor;
    cursor: pointer;
  }
}

.work-banner {
  position: absolute;
  height: 20px;
  width: 100%;
  top: 10px;
  background-color: $primaryColor;
  @media screen and (min-width: $small_screen) {
    top: 20%;
  }
  @media screen and (min-width: $medium_screen) {
    top: 40%;
  }
}

.auto-banner {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 28px;


  ul {
    display: flex;
    align-items: center;
    animation: banner 15s linear infinite;
    justify-content: center;
    margin: 0;
    height: 53px;
    gap: 4rem;
    white-space: nowrap;
  }
}


.auto-banner-styles {
  color: white;
  background-color: $secondaryColor;
  font-size: $font-medium;
  padding: 1rem;

  ul {
    list-style: none;
  }
}

@keyframes banner {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

