@page
@model Index

@{
    Layout = Layout;
}


<div class="content-wrapper">

    <section class="index-section index-section-styles">
        <div class="header-text">

            <h1>
                Dylan Sm<span class="letter-i">i</span>th
            </h1>

            <p>
                Hi, I'ma a front and back end applications developer from <br/><span class="ok">Oklahoma</span>
            </p>

        </div>

    </section>

    <section class="work-section work-section-styles">
        <h2 >Work</h2>
        <p>
            I’m always building projects when I can
            here check this one our for a locally owned
            company
        </p>
        <a href="https://www.tulsaoverhead.com">Tulsa Overhead</a>
        <div class="work-banner"/>
    </section>

    <section class="auto-banner auto-banner-styles">
        <ul class="animated">
            <li>TailwindCSS</li>
            <li>React</li>
            <li>C#</li>
            <li>ASP.NET Core</li>
            <li>Svelte</li>
            <li>Typescript</li>
            <li>SCSS</li>
            <li>SQL Server</li>
        </ul>
        <ul class="animated" aria-hidden="true">
            <li>TailwindCSS</li>
            <li>React</li>
            <li>C#</li>
            <li>ASP.NET Core</li>
            <li>Svelte</li>
            <li>Typescript</li>
            <li>SCSS</li>
            <li>SQL Server</li>
        </ul>
    </section>

</div>


<script type="text/javascript">
    const Animated = document.querySelector('.animated')
    const UL = document.querySelector('h2');

       Animated.onanimationiteration = ()=>{

        Animated.insertAdjacentHTML("afterend",Animated.outerHTML);
        Animated.nextElementSibling.setAttribute('aria-hidden','true');

        console.log("ended")

       };


</script>