@page
@model Index

@{
    Layout = Layout;
}


<div class="content-wrapper">

    <section class="index-section index-section-styles">
        <div class="header-text">

            <h1>
                Dylan Sm<span class="letter-i">i</span>th
            </h1>

            <p>
                Hi, I'ma a front and back end applications developer from <br/><span class="ok">Oklahoma</span>
            </p>

        </div>

    </section>

    <section class="work-section work-section-styles">
        <h2 >Work</h2>
        <p>
            I have worked with multiple locally owned companies in and around the Tulsa, OK areas. Below is the site of the last company I worked for. The site uses Svelte, Contentful, Tailwind CSS, and js Email for contacting the owners.
        </p>
        <a href="https://www.tulsaoverhead.com">Tulsa Overhead</a>

    </section>

    <section class="auto-banner auto-banner-styles">
        <ul class="animated">
            <li>TailwindCSS</li>
            <li>React</li>
            <li>C#</li>
            <li>ASP.NET Core</li>
            <li>Svelte</li>
            <li>Typescript</li>
            <li>SCSS</li>
            <li>SQL Server</li>
        </ul>
        <ul class="animated" aria-hidden="true">
            <li>TailwindCSS</li>
            <li>React</li>
            <li>C#</li>
            <li>ASP.NET Core</li>
            <li>Svelte</li>
            <li>Typescript</li>
            <li>SCSS</li>
            <li>SQL Server</li>
        </ul>
    </section>

    <section class="about-section about-section-styles">
        <h3 >About</h3>
        <p>
            I enjoy spending time with my dog and my girlfriend in my free time. I'm an easy going guy and am usually working on a project in either the front end using react or the back end using ASP.net.
        </p>
    </section>

</div>


<script type="text/javascript">
    const Animated = document.querySelector('.animated')
    const UL = document.querySelector('h2');

       Animated.onanimationiteration = ()=>{

        Animated.insertAdjacentHTML("afterend",Animated.outerHTML);
        Animated.nextElementSibling.setAttribute('aria-hidden','true');

        console.log("ended")

       };


</script>