@page "{nameParam?}"
@model Index

@{
    Layout = Layout;

    var modalState = false;

}

<div>

    <div class="container pb-5 align-items-center justify-content-center">
        <h1 class="text-white h1 pt-5">
            SQL Tables Example
        </h1>


        <form METHOD="get" class="form d-flex gap-4 py-2 mb-2">
            <input class="fs-4 input-group-text" asp-for="nameParam" type="search"/>
            <input class="btn fs-5 flex-grow-1 btn-sm btn-outline-danger" value="Search" type="submit">
            <a asp-page-handler="Refresh" value="Back" class="btn fs-5 d-flex align-items-center justify-content-center flex-grow-1 btn-sm btn-outline-danger">Refresh</a>
        </form>

        <div class="table-wrapper">
            <table class="sql-table">
                <tr class="main-row">
                    <th class="main-heading">
                        User Info
                    </th>
                    <td>
                        <a href="Blogs/Addusers" type="button">Add</a>
                    </td>
                    <td>
                        <button>Update</button>
                    </td>
                    <td>
                        <input class="main-search" type="search"/>
                    </td>
                </tr>
                <tr class="sql-columns">
                    <th>User</th>
                    <th>ID</th>
                    <th>State</th>
                    <th>City</th>
                    <th aria-hidden="true" class="holder">holder</th>
                </tr>
                @foreach (var user in Model.newUsers)
                {
                    <tr class="sql-data">
                        <td class="">
                            @user.City
                        </td>
                        <td class="">@user.Name</td>
                        <td class="">@user.Id</td>
                        <td class="">@user.State</td>
                        <td>
                            <button data-toggle="modal" onclick="showModal()">Delete</button>
                        </td>
                    </tr>
                }
            </table>
        </div>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title h2" id="exampleModalLongTitle">Delete User</h5>
                        <button type="button" class="myModalX btn btn-dark" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                    <div class="modal-body">
                        <form class="d-flex gap-2 align-content-center" asp-page-handler="DeleteUserWithId" method="POST">
                            <input class="h-auto" placeholder="ID" asp-for="newUsersModel.Id" type="text">
                            <input class="btn btn-sm btn-danger" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<style>
    .lob>td{
    color:purple;
    }
    .lob:hover{font-weight: bolder; transition: ease-in-out .2s;cursor: url("http://www.rw-designer.com/cursor-extern.php?id=5311"),auto}
</style>

@section Scripts{
    <script type="text/javascript">

    $('[data-toggle=modal],[data-dismiss]').on('click',function (){
        $('#myModal').modal('toggle');
    });




</script>
}