@page "{nameParam?}"
@model Index


@{
    Layout = Layout;

    var modalState = false;

}


<section class="table-wrapper">

    <div class="header-grid">
        <h1>
            SQL Example
        </h1>
        <div class="btn-flex">
            <button class="add-btn">Add</button>
            <button class="update-btn">update</button>
            <button class="search-btn">Search</button>
            <button class="dlt-btn"> Delete</button>
        </div>
    </div>


    <table class="table-wrapper">

        <tr>
            <ul class="list-one">
                <li class="delete">
                    <svg id="delete-toggle" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 16 16">
                        <g fill="white">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/><path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                        </g>
                    </svg>

                    <div data-modal-body="false" id="delete-modal">
                        <div class="delete-flex">
                            <form asp-page-handler="DeleteUserWithId" method="POST">
                                <input
                                    placeholder="Enter ID"
                                    class="delete-input"
                                    asp-for="newUsersModel.Id" type="text">
                                <input
                                    class="delete-submit"
                                    value="Delete" type="submit"/>
                            </form>
                        </div>
                    </div>

                </li>

                <li class="add">
                    <svg id="add-toggle" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 20 20">
                        <path fill="white" d="M11 9h4v2h-4v4H9v-4H5V9h4V5h2v4zm-1 11a10 10 0 1 1 0-20a10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16z"/>
                    </svg>

                    <div data-modal-body="false" id="add-modal">
                        <div class="add-flex">
                            <form asp-page-handler="AddUsers" method="post">

                                <label asp-for="newUsersModel.Name">Name: </label>

                                <input type="text" asp-for="newUsersModel.Name">

                                <label asp-for="newUsersModel.City">City: </label>

                                <input type="text" asp-for="newUsersModel.City">

                                <label asp-for="newUsersModel.State">State: </label>

                                <input type="text" asp-for="newUsersModel.State">

                                <input class="user-submit" value="Add User" type="submit"/>

                            </form>
                        </div>
                    </div>
                </li>
                <li class="search">
                    <svg id="search-toggle" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14z"/>
                    </svg>

                    <div id="search-modal" data-modal-body="false">
                        <form METHOD="get">
                            <div class="form-flex">
                                <input
                                    placeholder="Enter Name Or Letter"
                                    class="search-input" asp-for="nameParam" type="search">
                                <input
                                    value="Search"
                                    class="search-submit" type="submit">
                            </div>
                        </form>
                    </div>

                </li>

                <li class="refresh">
                    <a asp-page-handler="Refresh">
                        <svg xmlns="http://www.w3l.org/2000/svg" width="33" height="33" viewBox="0 0 24 24">
                            <path fill="white" d="M17.65 6.35A7.958 7.958 0 0 0 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08A5.99 5.99 0 0 1 12 18c-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </tr>

        <div class="tbody-grid">
            @foreach (var user in Model.newUsers)
            {
                <tbody>
                <tr>
                    <th>Name:</th>
                    <td>
                        @user.Name
                    </td>
                </tr>
                <tr>
                    <th>City:</th>
                    <td>
                        @user.City
                    </td>
                </tr>
                <tr>
                    <th>State:</th>
                    <td>
                        @user.State
                    </td>
                </tr>
                <tr>
                    <th>Id:</th>
                    <td>
                        @user.Id
                    </td>
                </tr>
                </tbody>
            }
        </div>


    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title h2" id="exampleModalLongTitle">Delete User</h5>
                    <button type="button" class="myModalX btn btn-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    <form class="d-flex gap-2 align-content-center" asp-page-handler="DeleteUserWithId" method="POST">
                        <input class="h-auto" placeholder="ID" asp-for="newUsersModel.Id" type="text">
                        <input class="btn btn-sm btn-danger" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>


<style>
    .lob>td{
    color:purple;
    }
    .lob:hover{font-weight: bolder; transition: ease-in-out .2s;cursor: url("http://www.rw-designer.com/cursor-extern.php?id=5311"),auto}
</style>

@section Scripts{


    <script type="text/javascript">


function modalActivator(activatorElemID){
       return document.getElementById(activatorElemID);
   }

   function modalSelector(desiredModalId){
       return document.getElementById(desiredModalId);
   }

   function modalToggler(modalType){
       const modalState = modalType.getAttribute('data-modal-body');


      if(modalState === "false"){
                      modalType.setAttribute("data-modal-body","true");
                  } else {
                      modalType.setAttribute("data-modal-body","false");
        }
   }



   window.onclick = function (event){

        // Dear, whoever feel free to add your modals here for automatic closing when clicking out of form

        const myModals = ['search-modal','delete-modal','add-modal'];

        const allModals = [];

        for(let i = 0; i < myModals.length; i ++){
            allModals.push(modalSelector(myModals[i]))
        }


       allModals.map((i)=>{
           if(event.target == i){
               modalToggler(i)
           }
       })
   };

    modalActivator('search-toggle').addEventListener("click",()=>modalToggler(modalSelector('search-modal')))

    modalActivator('delete-toggle').addEventListener('click',()=>modalToggler(modalSelector('delete-modal')))

    modalActivator('add-toggle').addEventListener('click',()=>modalToggler(modalSelector('add-modal')))



</script>
}